body{
    background-color: rgb(177, 191, 196); 
    margin: 40px;
}
h1 {
    font-family: "Gill Sans", sans-serif;;
    font-size: 180%;
    color: #ffffff;
}
.header {
     padding: 20px; 
     text-align: center; 
     background: rgb(26, 110, 131); 
     font-size: 30px;
     border: 7px solid rgb(0, 0, 0);
}

video { 
    width: "500px" 
}